<%- include("partials/_header")  %>


<div class="container">
    <br>
    <h2 class="text-center">Grupo 7</h2><br>
    <h2 class="text-center">Practica 4</h2><br>
    <div align="center"><img src="https://aula128.files.wordpress.com/2014/12/computacion-en-la-nube.jpg"></div> <br>


    
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Carnet</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                <th scope="row">1</th>
                <td>2014-03841</td>
                <td>Huriel Gomez</td>
            </tr>
            <tr class="table-primary">
                <th scope="row">2</th>
                <td>2013-14642</td>
                <td>Glen Calel</td>
            </tr>
            <tr class="table-primary">
                <th scope="row">3</th>
                <td>2011-14502</td>
                <td>Rodolfo Orellana</td>
            </tr>
        </tbody>
    </table>
</div>
<%- include("partials/_footer")  %>