<%- include("partials/_header")  %>

<div class="container">
    <br>
    <h1 class="text-center">Sistema de Reportes</h1>
    <h2 class="text-center">Practica 4</h2><br>
    <div align="center"><img src="https://aula128.files.wordpress.com/2014/12/computacion-en-la-nube.jpg"></div> <br>
    <h2 class="text-center">Grupo 7</h2><br>
    <h2 class="text-center">Redes de Computadoras 2</h2>
    <h2 class="text-center">Primer Semestre 2021</h2>
</div>

<%- include("partials/_footer")  %>